.Build/
composer.lock
.php-cs-fixer.cache
Documentation-GENERATED-temp/
test-results/
playwright-report/
node_modules/
.claude/

# DDEV
.ddev/.ddev-docker-compose-*
.ddev/db_snapshots
.ddev/.homeadditions
.ddev/docker-compose.traefik.yaml
